<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeMeGo</title>
    <meta name="description" content="فروشگاه آنلاین">
</head>

<body>
<div id="navbar">
    {% if user.is_authenticated %}
        <a id="logout">خروج</a>
    {% else %}
        <a id="login" href="{% url 'login_page' %}">ورود</a>
    {% endif %}
    <a id="register" href="{% url 'register_page' %}">ثبت نام</a>
    <a id="homepage" href="{% url 'main_page' %}">صفحه‌ی اصلی</a>
</div>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>